body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding-top: 80px;
}

form {
    background: white;
    display: inline-block;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

h1 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
}



#enviar {
    width: 238px;
    padding: 9px;
    background: #222;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#enviar:hover {
    background: #444;
}